
.styled-yes-button {
  background-color: #D9BF8B; 
  border: none;
  color: rgb(50, 34, 26);
  padding: 15px 70px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

.styled-yes-button:hover{
  background-color: #938569; /* Darker green */
}

.styled-no-button {
  background-color: #ff3333; /* Red */
  border: none;
  color: white;
  padding: 10px; /* Adjust padding as needed */
  font-size: 20px; /* Adjust font size as needed */
  cursor: pointer;
}

.styled-no-button:hover {
  background-color: #771212; /* Darker red */
}

.styled-button {
  background-color:#103b1b; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
  cursor: pointer;
  font-family: dayDream;
  transform: translateX(-50%);
}

.styled-button:hover {
  background-color: white;
  color: black;
}